img {
  max-width: 100%;
}
.em-preview-container {
  position: fixed;
  background: #eee;
  right: 10px;
  bottom: 10px;
  border: 1px solid #ededed;
  display: none;
}
.em-preview-selector {
  position: absolute;
  background: #333;
  opacity: 0.2;
}
