body {
  margin: 0;
  line-height: 1.6;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

.demo-section {
  // background: linear-gradient(10deg,#009688 30%,#4587bb 75%);
  background: linear-gradient(145deg, #009688 15%, #4587bb 85%);
  background: -moz-linear-gradient(145deg, #009688 15%, #4587bb 85%);
  background: -webkit-linear-gradient(145deg, #009688 15%, #4587bb 85%);
  background: -ms-linear-gradient(145deg, #009688 15%, #4587bb 85%);
}

p {
  font-size: 16px;
}
.badges a {
  text-decoration: none;
}
.container {
  max-width: 980px;
  margin: auto;
}

.progress-bar {
  background-color: #dd6a58;
}

.text-center {
  text-align: center;
}

.header-section {
  padding: 10vh 20px;
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 200;
    small {
      color: #d3d3d3;
      font-size: 20px;
      display: block;
    }
  }
  .gh-section {
    margin-top: 50px;
  }
  .btn-gh {
    padding: 10px;
    border: 1px solid #fdfdfd;
    color: #fdfdfd;
    font-size: 12px;
    border-radius: 2px;
    &:hover {
      opacity: 0.5;
    }
    img {
      vertical-align: text-bottom;
      width: 16px;
    }
  }
}

.content-section {
  background: #fff;
  color: #636363;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  .title {
    margin-top: 0;
  }
  h2, h3 {
    color: #07c;
    font-weight: 200;
    margin-top: 35px;
    // &:after {
    //   display: block;
    //   content: '';
    //   width: 50px;
    //   height: 2px;
    //   margin: 15px 0 20px 0;
    //   border-radius: 2px;
    //   background-color: #dddddd;
    //   background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8);
    //   background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8);
    //   background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8);
    //   background-image: linear-gradient(90deg, #efa8b0, #a89cc8);
    // }
  }
  .code-snippet {
    border: 1px solid #ededed;
  }
}

.footer-section {
  padding: 10px 15px;
  text-align: center;
  font-size: 12px;
  a {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
    &:hover {
      opacity: 1;
    }
    img {
      margin: 0 2px;
      width: 16px;
    }
  }
}

@media screen and (max-width: 980px) {
  .content-section {
    margin: 0 5%;
    padding: 50px 30px;
  }
}
