<div id="em-preview-container" class="em-preview-container">
  <div id="em-preview-selector" class="em-preview-selector"></div>
  {{#if imageUrl}}<img src={{imageUrl}} />{{/if}}
</div>
<div id="em-scroll-view-container">
  {{yield this}}
</div>
