{{#ember-scroll-view as |scrollView|}}
  <div class="container">
    <h2 class="title">ember-scroll-to</h2>
    <p>An ember addon component for scrolling the content of the page to a specified <span class="text-red">`id`</span></p>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>


    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>


    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>


    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <h3>Parameters:</h3>
    <ul>
      <li><span class="text-red">scroll_id</span> will have the 'id' value to which the page will be scrolled.</li>
      <li><span class="text-red">afterScroll</span> it is a action which will be triggered after scroll is completed.</li>
      <li><span class="text-red">transitionDelay</span> will have the transition time in milli seconds. Defaults to <span class="text-red">400</span>.</li>
      <li><span class="text-red">highlightContent</span> takes a boolean value. It is used to decide whether or not to highlight the content after scrolling. Defaults to <span class="text-red">true</span>.</li>
    </ul>

    <button {{action "screenShot" target=scrollView}}>Click Here</button>

    <div class="demo-container">
      {{outlet}}
    </div>
  </div>
{{/ember-scroll-view}}
