{{#ember-scroll-view offsetTop=85}}
  <div class="header-section">
    <div class="container">
      <h1>Scroll Progress View Demo</h1>
    </div>
  </div>
  <div class="content-section">
    <div class="container">
      <h2 class="title">ember-scroll-progress</h2>
      <p>An ember addon to display the progress of the page scroll.<br> Scroll the page to view this page's progress on the bottom right.</p>

      <h3>Usage:</h3>
      {{code-snippet name="usage.hbs" class="code-snippet"}}
      <h3>Parameters:</h3>
      <ul>
        <li><b>position</b> to specify the position of the scroll progress view. Available options: `top-left`, `bottom-left`, `top-right`, `bottom-right`</li>
        <li><b>offsetTop</b> to set the top offset based on the scroll container's top position inside the page.</li>
      </ul>

      <h3>Installation:</h3>
      <ul>
        <li>git clone this repository</li>
        <li>cd ember-scroll-view</li>
        <li>npm install</li>
        <li>bower install</li>
      </ul>

      <h3>Running</h3>
      <ul>
        <li>ember serve</li>
        <li>Visit your app at <a href="http://localhost:4200">http://localhost:4200</a>.</li>
      </ul>

      <h3>Running Tests</h3>
      <ul>
        <li>npm test (Runs `ember try:each` to test your addon against multiple Ember versions)</li>
        <li>ember test</li>
        <li>ember test --server</li>
      </ul>

      <h3>Building</h3>
      <ul>
        <li>ember build</li>
      </ul>

    </div>
  </div>
  <div class="footer-section">
    <div class="container">
      <p>Developed by <a href="https://github.com/gowthamrm">@gowthamrm</a></p>
    </div>
  </div>
{{/ember-scroll-view}}
